// Color
$lightPurple:#F4F0F8;
$yellowBack: #FBF6EA;
$lightpurple:#F4F4F4;
$lightgrey:  #6D6E76;
$black:      #232536;
$brightYellow:#ffd050;
$hoverYellow:#bc9a3c;
$brightPurple:#592ea9;
$white:       #fff;

//Margin-section
$marginSection:125px 0;

//font-family
$main-font:"inter", sans-serif;